<%= form_with model: [:user, post, comment] do |form| %>
  <%= render "shared/error", form: form %>
  <%= form.hidden_field :parent_id, value: comment.parent_id %>
  <div>
    <%= form.label :body, label %>
    <%= form.text_field :body %>
  </div>
  <%= form.button %>
<% end %>