<p class="<%= comment.parent_id.present? ? 'nested-comment' : '' %>">
  <%= comment.user.email %>: <%= comment.body %>
</p>
<% if comment.user == current_user %>
  <div>
    <%= link_to 'Edit Comment', edit_user_post_comment_path(comment.post, comment)  %>
    <%= button_to 'Delete Comment', [:user, comment.post, comment], method: :delete, data: {turbo_confirm: "Are you sure ?"} %>
  </div>
<% end %>
<div class="<%= comment.parent_id.present? ? 'nested-comment-form' : '' %>">
  <%= render "commentform", post: comment.post, comment: Comment.new(parent_id: comment.id), label: "Reply to this comment" %>
</div>
