<div>
  <strong>
    <%= post.title %>
  </strong>
  <p>
    <%= post.body %>
  </p>
  <div>
    <span>
      <%= render 'like', post: post %>
    </span>
  </div>
  <% if current_user == post.user %>
    <div>
      <%= link_to 'Edit Post', edit_user_post_path(post) %>
      <%= button_to 'Delete Post', [:user, post], method: :delete, data: { turbo_confirm: "Are you sure ?" }  %>
    <div>
  <% end %>
  <div>---------</div>
  <%= render "commentform", post: post, comment: Comment.new(parent_id: nil), label: "Your Comment" %>
  <% unless post.comments.count.zero? %>
    <div>Comments</div>
  <% end %>
  <% post.comments.each do |comment| %>
    <%= render "comment", comment: comment %>
  <% end %>
</div>